.navbar-shadow {
  box-shadow: 
  0 4px 8px 0 rgb(0 0 0 / 20%),
    0 6px 20px 0 rgb(0 0 0 / 80%);
}

.underline {
  height: 3px;
  width: 10rem;
  background-color: tomato ;
  margin-top: 10px;
  margin-bottom: 10px;
}

.times {
  font-family: 'Roboto Mono', monospace;
  opacity: .5;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.02); }